.bg-darkpurple {
    background-color: var(--darkpurple);
}
.bg-cadetgray {
    background-color: var(--cadetgray);
}
.bg-englishviolet {
    background-color: var(--englishviolet);
}
.bg-columbiablue {
    background-color: var(--columbiablue);
}
.bg-chineseviolet {
    background-color: var(--chineseviolet);
}